@import "base/base";
@import "Plugins/font-awesome-4.7.0/scss/font-awesome";
@import "base/mixins";
@import "base/variabels";
@import "base/fonts";

body {
  font-family: Balsamiq, cursive;
  font-style: italic;
  font-weight: bold;
  font-size: 25px;
}
