/***********
1. Fonts
***********/

@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");
@font-face {
  font-family: "Lucida";
  src: url("../../fonts/lucida_bright_regular.ttf") format("truetype");
}
@font-face {
  font-family: "Lucida";
  src: url("../../fonts/lucida_bright_demi.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Beyond";
  src: url("../../fonts/beyond_the_mountains.otf") format("opentype"),
    url("../../fonts/beyond_the_mountains.ttf") format("truetype");
}
